
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<style>
	body{
		
		font-family: 'arial', sans-serif;
		margin: 0.5cm;
		width: 20cm;
	}
	hr{
		margin: 0;
		border-top: 1px solid rgb(0, 0, 0);
	}
	#customers {
		border-collapse: collapse;
		font-size: x-small;
	}
	#customers td, #customers th {
		padding: 5px;
	}
	#customers th {
		text-align: left;
		background-color: #ddd;
		color: black;
	}
	.eslogan{
		font-size: x-small;
		font-style: italic;
	}
</style>
</head>
<body>
<div style="width: 20cm; height: 4.5cm;">
	<div style="width: 20cm; height: 3cm; display: flex; align-items: flex-end;">
		<div style="width: 4cm; height: 3cm; text-align: center;">
			<img src="../../../public/img/sistema.png" alt="" style="width: auto; height: 2cm; ">
			<p style="margin: 0.1cm; text-align: center; font-size: small; padding: 0;" ><b>POLICIA BOLIVIANA</b></p>
			<p style="font-size: xx-small; margin: 0; text-align: center; padding: 0;">SISTEMA DE ALMACENES</p>
		</div>
		<div style="width: 11.5cm; height: 1.5cm;">
			<p style="margin: 0.1cm; text-align: center; padding: 0" ><b>LISTADO DE PARTIDAS</b></p>
			<p style="font-size: xx-small; margin: 0; text-align: center; padding: 0;">04 de Diciembre de 2023</p>
		</div>
		<div style="width: 4.5cm; height: 3cm;  display: flex; align-items: flex-start;">
			<div style="width: 3cm; height: 1cm; ">
				<p style="font-size: xx-small; margin: 0.1cm; text-align: right;"><b>Página:</b></p>
				<p style="font-size: xx-small; margin: 0.1cm; text-align: right;"><b>Fecha de Impresión:</b></p>
				
			</div>
			<div style="width: 2cm; height: 1cm;">
				<p style="font-size: xx-small; margin: 0.1cm;">1/2</p>
				<p style="font-size: xx-small; margin: 0.1cm;">04/12/2023</p>
				
			</div>
		</div>
	</div>
	<hr>
	<div style="width: 20cm; height: 1.5cm; display: flex; align-items: flex-start;">
		<div style="width: 5cm; height: 2cm;">
			<p style="font-size: x-small; margin: 0.1cm; text-align: right;"><b>ALMACEN:</b></p>
			<p style="font-size: x-small; margin: 0.1cm; text-align: right;"><b>ESTABLECIMIENTO:</b></p>
		</div>
		<div style="width: 15cm; height: 2cm;">
			<p style="font-size: x-small; margin: 0.1cm;">ALMACEN CENTRAL DNSB</p>
			<p style="font-size: x-small; margin: 0.1cm;">DIRECCIÓN NACIONAL DE SALUD Y BIENESTAR SOCIAL</p>
		</div>
	</div>
</div>

<table id="customers">
	<tr style="border: 1px solid ;">
	  <th style="width: 2cm;">NRO.</th>
	  <th style="width: 5cm;">CÓDIGO</th>
	  <th style="width: 13cm;">DESCRIPCIÓN</th>
	</tr>
	<tr>
	  <td>09497</td>
	  <td>1. MONITORES COMP.</td>
	  <td>MONITOR LCD DE 20 PULGADAS MARCA SAMSUNG MODELO S224300B S/N ZTUtH9MBA00035J</td>
	</tr>
  </table>
</body>
</html>